/.phpunit.cache
/node_modules
/public/build
/public/hot

# Ignoriere alle Dateien im storage außer JSON-Dateien in labore und profile

/storage/*.key
/storage/pail

# Ignoriere alles im labore Ordner
/storage/app/labore/*

# Aber nicht JSON-Dateien im labore Ordner
!storage/app/labore/*.json

# Und auch nicht .gitkeep, falls vorhanden
!storage/app/labore/.gitkeep


# Ignoriere alles im profile Ordner
/storage/app/profile/*

# Aber nicht JSON-Dateien im profile Ordner
!storage/app/profile/*.json

# Und auch hier .gitkeep nicht ignorieren
!storage/app/profile/.gitkeep

/vendor
.env.backup
.env.production

.phpactor.json
.phpunit.result.cache

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

/auth.json

/.fleet
/.idea
/.nova
/.vscode
/.zed
