/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/pail
!storage/app/labore/
/storage/app/labore/*
!/storage/app/labore/.gitkeep
!/storage/app/labore/deinedatei.xyz
/vendor
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
